<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>instructor | Login</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/instructor-login.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        <div class="instructor-access-form">
            <h1>Welcome</h1>
            <!-- <form action="/instructor-login" method="post">
                <input type="password" name="accessKey" placeholder="Access Key" required>
                <button type="submit">Submit</button>
            </form>
            <% if (message) { %>
                <p class="error-message"><%= message %></p>
            <% } %> -->
        </div>
    </body>
</html>