<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <form action="/login" method="post">
        <div class="logo-container">
            <img src="images/logo.png" alt="Logo">
        </div>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
        <p style="color:tomato"> <%= message %> </p>
        <p>Don't have an account? <a href="/register">Register now!</a></p>
        <p>Staff? Log in using the <a href="/admin-login">employee portal</a>.</p>
    </form>
</body>
</html>