<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <form action="/login" method="post">
        <div class="logo-container">
            <img src="images/logo.png" alt="Logo">
        </div>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
        <p style="color:tomato"> <%= message %> </p>
        <p>Don't have an account? <a href="/register">Register now!</a></p>
    </form>
</body>
</html>