body, html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 15px;
    height: 100vh; /* Full height */
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    transition: background 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    height: 100vh; /* This will make the main content full height */
    background-color: white;
    flex-grow: 1;
    overflow: hidden;
    max-width: 100%;
}

.header h1 {
    margin-bottom: 20px;
}

.exercise-tracker {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#weightProgressChart {
    min-height: 400px;
    margin: auto;
}