body, html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    display: flex;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 15px;
    height: 100vh; /* Full height */
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
}

.dashboard-content {
    padding: 20px;
    text-align: center;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    transition: background 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}

.content {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.content-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


/* Responsive Design */
@media (max-width: 768px) {
    .content-row {
        flex-direction: column;
    }

    .chart-container, .routine-container {
        flex-basis: auto;
        margin: 10px 0;
    }
}

/* Classes Container Styling */
.classes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    gap: 10px; /* Gap between grid items */
    padding: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical; /* Allow vertical resizing */
}

.classes-list {
    margin-top: 10px;
}

.class-item {
    background: #f4f4f4;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.class-item h3 {
    margin: 0 0 10px 0;
}

.class-item p {
    margin: 0 0 10px 0;
}

.register-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.register-btn:hover {
    background-color: #45a049;
}

/* Responsive Design for Classes List */
@media (max-width: 768px) {
    .class-item {
        padding: 10px;
    }
}
